pygsheets==2.0.5
aylien-news-api==5.1.0
gunicorn==19.10.0
flask==2.0.3
google-api-core==2.5.0
google-api-python-client==2.44.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.56.0
pandas==1.4.1
pip==21.2.4
python-dateutil==2.8.2
requests==2.27.1
setuptools==61.2.0
slackclient==2.9.3
wheel==0.37.1
pycountry==20.7.3
